:root {
  --sizinglg: 404;
  --sizing-m-d: 201;
  --sizing-sm: 134;
  --spacing-x-x-l: 32;
  --spacing-xl: 24;
  --spacing-l: 16;
  --spacing-m-d: 12;
  --spacing-s-m: 8;
  --spacing-x-s: 4;
  --spacing-x-x-s: 2;
  --primary-color: #7300ff;
  --primary-hover: #6800e6;
  --primary-active: #5c00cc;
  --primary-light: #f1e6ff;
  --primary-litght-hover: #ead9ff;
  --primary-light-active: #d4b0ff;
  --dark: #5600bf;
  --dark-hover: #450099;
  --dark-active: #340073;
  --primary-text-color: #1e1e1e;
  --secandry-text-color: #666666;
  --body-text-color: #8c8c8c;
  --card-color: #f8f7f4;
  --redius-x-s: 4;
  --redius-s-m: 8;
  --redius-m-d: 12;
  --font-size-x-s: 10;
  --font-size--s: 12;
  --font-size-body: 14;
  --font-size-button: 16;
  --font-size-sub-heading: 20;
  --font-size-heading: 24;
  --font-size-extra-heading: 32;
  --reduis-lg: 16;
  --reduis-x-l: 24;
  --shadow-opacity: 0.5;
  --primary-font-family: Nunito;
  --latter-spacing: 0;
  --shadow-color-black: [object Object];
  --shaow-color-gray: [object Object];
  --font-weight: Regular;
  --font-waight: Medium;
  --sm: 1;
  --md: 1.5;
  --lg: 2;
  --paragraph-spacing: -2;
  --line-height: 14;
}